:root {
    --modal-section-hsize: 50%;
    --modal-section-item-gap: .75em;
    --modal-hsize: 30vw;
    --modal-vsize: 70vh;
    --font-size: 1em;
    --modal-section-gap: auto;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper {
  text-align: center;
}

.modal-dialog {
    background: #FFD100;
    width: var(--modal-hsize);
    height: var(--modal-vsize);
    padding: .75em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.modal-title {
    font-family: Inter;
    font-weight: 800;
    font-size: calc(1.5*var(--font-size));
}

.modal-description {
    min-height: 150px;
}

.modal-section {
    display: flex;
    flex-direction: column;
    width: var(--modal-section-hsize);
    font-size: var(--font-size);
}

.modal-section *:not(:first-child):not(.no-margin){
    margin-top: var(--modal-section-item-gap);
}

.button-submit {
    border-radius: 2em !important;
    background: #931717 !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

input, textarea, select {
    border: none;
    padding: .25em;
    border-radius: .25em;
}

/*Jogos*/
.jogos {
  margin: 0px;
  width: 100%;
}

.dois {
  width: 100%;
}

.checkbox-games {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.no-margin {
  margin-top: 0px;
}

div.checkbox-box > div {
  height: fit-content;
  line-height: 1em;
}

div.checkbox-box > div > input {
  height: 0.7em;
  width: 0.7em;
}

div.checkbox-box > div > label {
  font-weight: 400;
  font-size: 1em;

  margin-left: 0.4em;
}

@media only screen and (max-width: 1000px) {
    :root {
        --modal-hsize: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --modal-hsize: 70vw;
        --modal-section-hsize: 50vw;
    }
}

@media only screen and (min-height: 900px) {
    :root {
        --modal-vsize: 60vh;
    }
}

@media only screen and (min-height: 820px) and (max-width: 1180px) {
    .modal-dialog{
        transform: scale(1.25);
    }

    .modal-section {
        transform: scale(1.25);
    }
}

@media only screen and (min-height: 820px) and (max-width: 1600px) {
    .modal-dialog{
        transform: scale(1.25);
    }

    .modal-section {
        transform: scale(1.25);
    }
}

@media (min-width: 1600px) {
    .modal-dialog {
        transform: scale(1.5);
    }

    .modal-section {
        transform: scale(1.25);
    }
}


/* Utilitários */

* {
    font-family: Inter;
}

.upper {
    text-transform: uppercase;
    font-weight: 600;
}
