@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.glide {
  background: rgba(13, 13, 13, 1);
  padding-bottom: 3em;
  padding-top: 3em;
}

@media (min-width: 1440px) {
  .amarelo {
    font-size: 2.5em;
  }
}

/* Valores até de 1440px */
@media (max-width: 1440px) {
  .carrosel-item-header {
    font-size: 1.4em;
  }

  .carrosel-item-text {
    font-size: 1.3em;
  }

  .logo-item-carrosel {
    height: 90%;
  }

  .amarelo {
    font-size: 5em;
  }
}

@media (max-width: 1100px) {
  .carrosel-item-header {
    font-size: 1em;
  }

  .carrosel-item-text {
    font-size: 0.9em;
  }
}

/* Valores até 1024px */
@media (max-width: 1024px) {
  .carrosel-item-header {
    font-size: 1em;
  }

  .carrosel-item-text {
    font-size: 0.8em;
  }

  .logo-item-carrosel {
    width: 30px;
  }

  .amarelo {
    font-size: 3em;
  }

  .glide__arrow--left {
    left: 1.2em;
  }
  .glide__arrow--right {
    right: 1.2em;
  }
}

@media (max-width: 920px) {
  .carrosel-item-header {
    font-size: 0.7em;
  }

  .carrosel-item-text {
    font-size: 0.6em;
  }

  /* Arrows */
  .glide__arrow--left {
    left: 1em;
  }
  .glide__arrow--right {
    right: 1em;
  }
}

@media (max-width: 768px) {
  .carrosel-item-header {
    font-size: 1em;
  }

  .carrosel-item-text {
    font-size: 0.8em;
  }

  /* Arrows */
  .glide__arrow--left {
    left: 1em;
  }
  .glide__arrow--right {
    right: 1em;
  }
}

/* Valores até 375px */
@media (max-width: 375px) {
  .carrosel-item-header {
    font-size: 0.7em;
  }

  .carrosel-item-text {
    font-size: 0.6em;
  }

  .amarelo {
    font-size: 2em;
  }

  /* Arrows */
  .glide__arrow--left {
    left: 1em;
  }
  .glide__arrow--right {
    right: 1em;
  }
}

/* Valores até 280px */
@media (max-width: 319px) {
  .carrosel-item-header {
    font-size: 0.8em;
  }

  .carrosel-item-text {
    flex-wrap: wrap;
    font-size: 0.6em;
  }

  .amarelo {
    font-size: 1.9em;
  }

  /* Arrows */
  .glide__arrow--left {
    left: 0.7em;
  }
  .glide__arrow--right {
    right: 0.7em;
  }
}

/*Estilização do conteiner geral do slide*/
.carrosel-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: #FFD100;
}

/*Estilização dos sub-conteiners do slide*/
.carrosel-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10%
}

.carrosel-item-footer {
  display: flex;
  justify-content: center;

  margin: 0;
  border: 0;
  padding: 0.2em;
  width: 100%;

  border-top: 2px;
  border-style: solid;
  border-color: #FFD100;

  background-color: rgba(198, 201, 202, 0.4);
}

/*Estilização dos textos do slide*/
.carrosel-item-title {
  margin-top: 5%;

  font-weight: 800;
  color: white;
}

.carrosel-item-text {
  margin-bottom: 1em;

  font-weight: 300;
  color: white;
}

/*Estilização das imagens do slide*/
.carrosel-img-copa {
  display: block;
  width: 80%;
  border-radius: 6%;
}

.logo-item-carrosel {
  height: 110%
}

.amarelo {
  color: yellow;
}
