
.alert-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container {
    width: auto;
    height: auto;
    background-color: #FFD100;
    outline: none;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    padding: 1em;
}

.dialog-container * {
    margin: .5em 0 .5em 0;
}

.close-alert-button {
    border-radius: 2em !important;
    background: #931717 !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}