@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.header_global{
    background-color: #000000;
    width: 100%;
    height: 82px;
    opacity: 0.95;
    border-bottom: 2px solid #F6FAE8;
    display: flex;
    justify-content: space-around;
}

.header_esquerda{
    display: flex;
    flex-direction: row;
    width: 27.81%;
    height: 60px;
    color:#F6FAE8;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 28px;
    justify-content: space-between;

}

.logo_cpe{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;


}


.header_jogos{
    margin-bottom: 28px;
    margin-top: 28px;
    border: none;
    color:#F6FAE8;
    background-color: #000000;
}

.header_campeonatos{
    margin-bottom: 28px;
    margin-top: 28px;
    border: none;
    color:#F6FAE8;
    background-color: #000000;
}

.header_loja{
    margin-bottom: 28px;
    margin-top: 28px;
    border: none;
    color:#F6FAE8;
    background-color: #000000;
}

.header_direita{
    width: 36.13%;
    height: 56px;
    display: flex;
    flex-direction: row;
    color:#F6FAE8;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_search{
    width: 42.9%;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.header_login{
    width: 10.73%;
    height: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #000000;
    color:#F6FAE8;
}

.header_increver{
    width: 35.29%;
    height: 56px;
    border-radius: 12px;
    background: #FFD100;
    border: 2px solid #000000;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color:#000000;
}
